{% load static %}
{% include "header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title>Alerta Finalizacion</title>


<style>
    h1 {
      text-align: center;
    }
</style>


<br>
<br>
<div class="container-sm" style="text-align: center;">
    <h3>Reporte de instructores con alta o baja carga academica.</h3>
    <br>
      <button type="button" class="btn btn-success">Consultar</button>
    <br>
    <br>
      <p>El reporte se generara con la fecha actual {% now "SHORT_DATETIME_FORMAT" %} </p>
</div>




