{% load static %}
{% include "header.html" %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title>Cargar Instructor</title>


<div class="container-sm">

  <form action="/ListarInstructor/" method="GET">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="NumeroDocumento">Numero de documento</label>
        <input type="text" class="form-control" id="NumeroDocumento" placeholder="Escriba su numero de documento..." name="NumeroDocumento">
      </div>
      <div class="form-group col-md-6">
        <label for="inputApellido">Apellido</label>
        <input type="text" class="form-control" id="inputApellido" placeholder="Escriba su apellido" name="Apellido">
      </div>
      <div class="form-group col-md-6">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" id="Nombre" placeholder="Escriba su nombre" name="Nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Tipo de documento</label>
        <select id="inputState" class="form-control" name="TipoDocumento">
          <option selected></option>
          <option>CC</option>
          <option>CE</option>
        </select>
    </div>


    <div class="form-group col-md-6">
      <label for="inputText4">Telefono</label>
      <input type="text" class="form-control" id="inputText4" placeholder="Escriba su numero de telefono" name="numeroCelular">
    </div>


    <div class="form-group col-md-6">
      <label for="inputText4">Correo Electronico</label>
      <input type="text" class="form-control" id="inputText4" placeholder="ejemplo@ejemplo.com">
    </div>




    <div class="form-group col-md-6">
      <label for="inputText4">Fecha Inicio</label>
      <input type="date" class="form-control" id="inputText4" placeholder="2022/30/02" name="Fecha_Inicio">
    </div>
    <div class="form-group col-md-6">
      <label for="inputText4">Fecha Fin</label>
      <input type="text" class="form-control" id="inputText4" placeholder="2022/30/02">
    </div>
    <div class="form-group col-md-6">
      <label for="inputText4">Supervisor</label>
      <input type="text" class="form-control" id="inputText4" placeholder="Nombre de supervisor...">
    </div>
    <div class="form-group col-md-6">
      <label for="inputText4">Horas Mensuales</label>
      <input type="text" class="form-control" id="inputText4" placeholder="160">
    </div>
  
    <button type="submit" class="btn btn-success" id="botonenviar">Enviar</button>
  </form>

</div>

</body>

</html>