{% load static %}
{% include "header.html" %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title>Cargar Formacion</title>

<div class="container-sm" style="text-align: center;">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> <h4>Ingrese el archivo con los programas de formación.</h4></label>
        <br>
        <br>
        <input type="file" class="btn btn-secondary btn-lg btn-block" id="file1" name="file" >
        <br>
        <br>
        
        <br>
        <br>
        <button type="submit" class="btn btn-success" id="botoncargar">Cargar</button>
    </form>
</div>
</body>
</html>