{% include "header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title>Obtener Horas</title>





<style>
    h1 {
      text-align: center;
    }
</style>

<h1>Escriba el numero de documento de el instructor a consultar</h1>
<br>
<br>
<div class="container-sm" style="text-align: center;">
  <form form action="" method="POST">
      {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Numero de identificacion: </label>
      <input class="form-control" type="text" placeholder="1007770496" name="text">
      <small id="emailHelp" class="form-text text-muted">Escriba el numero sin puntos ni espacios.</small>
    </div>
      <button type="submit" class="btn btn-success">Consultar</button>
      <br>
      <br>
      <h4>{{prompt}}</h4>
    <br>
    
      
      

</div>




