{% include "header.html" %}
<style>
  body{
    background-color: rgb(240, 240, 240);}
</style>



<body>
  <form method="post" id="formContent">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5" >
            <h5 class="card-title text-center mb-5 fw-light fs-5">Bienvenido</h5>
            <form>
              <div class="form-floating mb-3">
                <input class="form-control" type="text" id="username" name="username" placeholder="Correo Electronico">
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password1" name="password" placeholder="Contraseña">
              </div>
              <div class="d-grid text-center">
              <a href="#">¿Olvido su contraseña?</a>
              <br>
              <br>
              <input type="checkbox" onclick="myFunction()"> Mostrar Contraseña
              <script>
                function myFunction() {
                var x = document.getElementById("password1");
                if (x.type === "password") {
                x.type = "text";
                } else {
                x.type = "password";
                }
                }
              </script>
            </div>
              <div class="d-grid text-center mt-4" >
                <button class="btn btn-success btn-login text-uppercase fw-bold" type="submit">Entrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</body>
