{% load static %}
{% include "header.html" %}
<title>Listar Instructores</title>




<style>
    h1 {
      text-align: center;
    }
</style>

<h1>Instructores</h1>
<div>
<div class="form-group pull-right">
<form method="GET">
{% csrf_token %}
<input class="form-control col-md-3 light-table-filter" data-table="table table-striped" type="text" placeholder="Buscar..">
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Identificación</th>
                <th>Tipo de documento</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Supervisor</th>
                <th>Horas Mensuales</th>
                <th colspan="2">Opciones</th>
            </tr>
        </thead>

        <tbody>
          {% for instructor in instructores %}
            <tr>
                <td>{{instructor.id}}</td>
                <td>{{instructor.Nombre}}</td>
                <td>{{instructor.Apellido}}</td>
                <td>{{instructor.NumeroDocumento}}</td>
                <td>{{instructor.TipoDocumento}}</td>
                <td>{{instructor.Fecha_Inicio}}</td>
                <td>{{instructor.Fecha_Fin}}</td>
                <td>{{instructor.supervisora}}</td>
                <td>{{instructor.horasMensualFormacion}}</td>
                <td><a class="btn btn-success" value="Editar" href="{% url 'editarinstructor' id=instructor.id %}">Editar</a>

                <td><a class= "btn btn-danger" type="submit" href="{% url 'eliminarinstructor' id=instructor.id %}">Eliminar</a></td>                      
          {% endfor %}             
            </tr>          
        </tbody>
    </table>  
</div>
</form>
</div>
</div>